<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container text-center banner-text">
    <h1>Cocktails Repository</h1>
    <p>Share and get all your cocktail recipes here!</p>
  </div>
</div>

<div>
  <h4 class="browse">Browse</h4>
  <%= link_to '+ new drink', new_cocktail_path %>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">
      <img src="<%= cocktail.image_url %>" class="card-img-top" alt="drink">
      <div class="card-body">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        <p class="card-text"><%= link_to "+ details", cocktail_path(cocktail) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
